* {
  margin-top: 0%;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(249, 251, 251);
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_header_image {
  height: 80px;
  object-fit: contain;
}

.app_header_button_singIn {
  align-items: center !important;
  margin-top: 20px !important;
  margin-right: 10px !important;
  /* padding: 10px !important; */
  color: rgb(255, 255, 255) !important;
  font-size: 15px !important;
  font-weight: bolder !important;
  background-color: rgb(7, 165, 7) !important;
}

.app_header_button_signUp {
  align-items: center !important;
  margin-top: 20px !important;
  margin-left: 10px !important;
  /* padding: 10px !important; */
  color: rgb(255, 255, 255) !important;
  font-size: 15px !important;
  font-weight: bolder !important;
  background-color: rgb(7, 165, 7) !important;
}

.app_header_button_logout {
  align-items: center !important;
  margin-top: 40px !important;
  margin-right: 15px !important;
  color: rgb(63, 9, 9) !important;
  color: rgb(255, 255, 255) !important;
  font-size: 15px !important;
  font-weight: bolder !important;
  background-color: rgb(202, 11, 11) !important;
}

.app_signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app_singin_img {
  justify-content: center;
  height: 100%;
}

.app_singin_input_email {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.app_singin_input_password {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.app_signin_button_singIn {
  align-items: center !important;
  margin-top: 20px !important;
  /* padding: 10px !important; */
  color: rgb(255, 255, 255) !important;
  font-size: 15px !important;
  font-weight: bolder !important;
  background-color: rgb(7, 165, 7) !important;
}

.app_signin_button_forgotPassword {
  align-items: center !important;
  margin-top: 20px !important;
  margin-left: 10px !important;
  /* padding: 10px!important; */
  color: rgb(63, 9, 9) !important;
  color: rgb(255, 255, 255) !important;
  font-size: 15px !important;
  font-weight: bolder !important;
  background-color: rgb(202, 11, 11) !important;
}

.app_signup_img {
  justify-content: center;
  height: 100%;
}

.app_singup_input_username {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.app_singup_input_email {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.app_singup_input_password {
  text-align: center;
  margin-top: 10px;
  padding: 5px;
}

.app_singup_button_singup {
  align-items: center !important;
  margin-top: 20px !important;
  color: rgb(255, 255, 255) !important;
  font-size: 15px !important;
  font-weight: bolder !important;
  background-color: rgb(7, 165, 7) !important;
}

.app_body {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_bodyLeft {
}

.app_bodyRight {
  margin-left: 20px;
}
